extends base.pug

block content 
    h1 extending to base
    for post in posts 
        .card-container 
        .card 
            .card__header 
                img(src='/img/post-creater-image' alt='post-creater')
                span Organiser Name
            .card-details 
                .post-cover 
                    img(src='/img/post-cover-image' alt='post-cover')
                .post-title
                    h3= post.title
                .post-description 
                    //- p= post.description 
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur repellendus consequatur animi saepe delectus obcaecati cum iste impedit, quo eos deserunt eius Debitis voluptatum autem expedita tempore, magnam aliquid laboriosam.
                .post-artists 
                    ul 
                        li: a(href='#') artist 1
                        li: a(href='#') artist 2
                .post-time 
                    span= post.dates[0]
                    span= post.venue.address 
                .post-book 
                    .book-btn 
                        a
                            button.book-now(type='button') Book Now
                .post-stats 
                    .post-likes 
                        p= post.likesCount
                        button(type='button') Like 
                    .post-comments 
                        p= `${post.commentsCount} comments`
                        a(href='#') See all comments 
